# [REQUIRED] OpenWeather API key goes here
APPID=

# [REQUIRED] Backend API endpoint
# Example: http://{server ip/dns-hostname/localhost}/api
ENDPOINT=

# [OPTIONAL] These have defaults in the code,
# can be changed to fit preference
PORT=
MAP_ENDPOINT=
TARGET_CITY=

